.zoom-meeting-page-auto-closer-wrapper {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  /* top: 100px; */
  top: 8px;
  z-index: 999;
  width: fit-content;
  text-align: center;
  color: #3a3c3e;
  font-size: 18px;
  font-weight: 400;
}

.zoom-meeting-page-auto-closer-wrapper .zoom-meeting-page-auto-closer-stop-link {
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
}